<%- include("partials/head.ejs") %>
    <%- include("partials/header.ejs") %>


        <% if (user) { %>
            <p> Click here to see SecretWord <a href="/secretWord">link</a></p>
            <p>Click here to access tires list: <a href="/tires">Placeholder</a></p>

            <% } else { %>
                <a href="/sessions/logon">Click this link to logon.</a>
                <a href="/sessions/register">Click this link to register.</a>
                <% } %>
                    <%- include("partials/footer.ejs") %>