<%- include("partials/head.ejs") %>
    <%- include("partials/header.ejs") %>
        <p>The secret word is: <%= secretWord %>
        </p>
        <p>Would you like to change it?</p>
        <form method="POST">
            <label name="secretWord"></label>
            <input name="secretWord" /><br />
            <button>Submit</button>
        </form>
        <%- include("partials/footer.ejs") %>